.button {
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0px 5px;
    background: #545454DD;
    color: #FFF;
    border: 1px solid #ddd;
    padding: 8px 10px;
    display: block;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

.button:hover, .button:focus {
    background: #545454FF;
}



.button:active {
    background: #545454EE;
}

.button.mini {
    padding: 3px 6px;
}

.error {
    border-color: #ff5722;
}

button.button:disabled {
    cursor: auto;
    background: #545454AA;
    color: #DDD;
}