.block {
    position: relative;
    padding: 10px;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    color: #ff5722;
}

.body {
    border: 1px solid #2e2e2e;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    height: 100%;
    /* align-items: center; */
    justify-content: center;
}

.title {
    position: absolute;
    background: #f8f8f8;
    top: -0px;
    z-index: 100;
    left: 24px;
    padding: 0px 8px;
    font-weight: bold;
}


