.input {
    font-size: 1.2em;
    outline: none;
    background: #ffffff02;
    border: 2px solid #ffffff45;
    display: block;
    padding: 10px 14px;
    color: #ffffffaa;
    flex-grow: 1;
    font-weight: bold;
    box-sizing: border-box;
}
.input:focus {
    outline: none;
}
