.titleContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: #515151;
  border-bottom: 1px solid #FFFFFF88;
  color: #FFF;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: #FFFFFF10;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  color: #FFF;
}

.container:hover {
  background-color: #FFFFFF20;
}

.status {
  font-weight: bold;
  width: 60px;
  text-align: center;
}
.id {
  font-weight: bold;
  width: 80px;
}

.name {
  font-weight: bold;
  width: 120px;
}

.dob {
  width: 240px;
}

.actions {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}

.buttonDelete {
  margin-right: 10px;
}
