.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #FFFFFF10;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  color: #FFF;
}

.container:hover {
  background-color: #FFFFFF20;
}

.id {
  font-weight: bold;
  width: 80px;
}

.name {
  font-weight: bold;
  width: 120px;
}

.dob {
  flex-grow: 1;
}
