.container {
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: inline-flex;
    gap: 12px;
}

.list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    width: 55%;
    height: 100%;
}

.editor {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}