.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #FFFFFF10;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  color: #FFF;
}

.container:hover {
  background-color: #FFFFFF20;
}

.id {
  font-weight: bold;
  width: 50px;
}

.name {
  font-weight: bold;
  width: 120px;
  flex-grow: 1;
}

.relationship {
  // width: 120px;
  flex-grow: 1;
}

.nationality {
  // width: 120px;
  flex-grow: 1;
}

.dob {
 flex-grow: 1;
}

@media (max-width:767px) {
  .dob, .nationality, .relationship {
    display: none;
  }
}