.model {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0;
    transition: opacity 200ms linear;
    overflow: hidden;
}

.open {
    display: block;
    opacity: 1;
}

.underlay {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: #000000c7;
    z-index: 100;
}
.container {
    position: fixed;
    top: 10vh;
    left: 10vw;
    background: #ddd;
    width: 80vw;
    height: 80vh;
    z-index: 101;
    display: flex;
    flex-direction: column;
    border: 1px solid #2e2e2e;
}
.title {
    background: #2e2e2e;
    padding: 10px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: revert;
    justify-content: space-between;
    flex-shrink: 0;
}

.body {
    background: #545454;
    width: 100%;
    flex-grow: 1;
    color: #FFF;
    display: flex;
    overflow: hidden;
}
