.actions{  
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid #2e2e2e;
  justify-content: flex-end;
}

.button {
  min-width: 180px;
    width: 32%;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
}