.app {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e2e2e;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.searchContainer {
  margin: 10px 0px;
  width: 100%;
  // max-width: 800px;
  position: relative;
  display: inline-flex;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  width: 100vw;
  justify-content: flex-start;
  max-width: 1362px;
  align-items: center;
  flex-wrap: nowrap;
}

.title {
  width: 220px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.4em;
}